# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente (NUNCA enviar pro container)
.env
.env.*

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker (não precisa copiar pra dentro do container)
dockerfile
docker-compose.yml
.dockerignore